body {
  /* background: url(background-brick.jpg) no-repeat center center fixed; */
  /* https://cdn.pixabay.com/photo/2019/08/11/13/41/pen-4398995_960_720.jpg */
  background: url(https://cdn.pixabay.com/photo/2017/07/07/04/02/office-2480354_960_720.jpg)
    no-repeat center center fixed;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
